.blogName{
  text-align: left;
  color: rgb(54, 4, 102);
  display: flex;
  align-items: center;
  background-color: aqua;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
#homeTag{
  margin-right: 900px;
  margin-left: 70px;
}
.rightHead{
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
}
p.rightHead:hover{
cursor: pointer;
/* background-color: rgb(242, 244, 246); */
}
.bloglist{
  position: relative;
  top: 100px;
}
.blogPreview{
  text-align: left;
  margin: 40px 0px 50px 70px;
}
.blogPreview:hover{
  border-bottom: 2px solid rgb(218, 213, 213);
   background-color: rgb(242, 244, 246);
}
#button1{
  background-color: rgb(133, 148, 198);
}
button#button1:hover{
  cursor: pointer;
}
.bloglist h2{
  color: rgb(54, 4, 102);
}
.blogPreview a{
  text-decoration: none;
}
.blogPreview h2{
margin-bottom: 0px;
color: black;

}
.blog-details{
  position: relative;
  top: 100px;
}
.blogPreview p{
  margin-top: 8px;
}
.blog-details div{
  text-align: justify;
  margin: 0px 100px 0px 100px;
  font-size: 20px;
}
.blog-details h2{
  margin-top: 70px;
  font-size: 30px;
  text-align: left;
  margin-left: 100px;
}
.blog-details p{
  font-size: larger;
  text-align: left;
  margin-left: 100px;
}
.create-blog{
  position: relative;
  top: 100px;
}
.create-blog form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 380px;
  margin-top: 40px;
}
.form-content input{
  height: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.form-content textarea{
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-content label{
  text-align: left;
  font-size: larger;
}
.form-content button{
  width: 20%;
  margin: auto;
  font-size: 15px;
  background-color: rgb(240, 240, 241);
  border-radius: 5px;
}
.form-content button:hover{
  cursor: pointer;
}
.create-blog h2{
  color: rgb(54, 4, 102);
}
.blog-details button{
  display: flex;
  margin: 35px 0px 0px 100px;
}
@media screen and (max-width: 480px){
  #homeTag{
  margin-right: 130px;
  margin-left: 20px;
  font-size: 20px;
}
.rightHead{
  justify-content: space-between;
}
.blog-details div{
  text-align: justify;
  margin: 0px 15px 0px 15px;
  font-size: 20px;
}
.blog-details h2{
  margin-top: 0px;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
}
.blog-details p{
  font-size: larger;
  text-align: left;
  margin-left: 15px;
}
.blog-details button{
  display: flex;
  margin: 25px 0px 10px 150px;
}
.blogName{
  position: absolute;
  top: 0;
}
.create-blog form{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 80px;
  margin-top: 40px;
}
.form-content button{
  width: 40%;
  margin: auto;
  font-size: 15px;
  background-color: rgb(240, 240, 241);
  border-radius: 5px;
}
.form-content button:hover{
  cursor: pointer;
}
.blog-details button{
  cursor: pointer;
}
}